version: "2.0"

dependencies: ./project-dependencies.yaml

pre: |
  env
  export BUILD_MVN_OPTS="$BUILD_MVN_OPTS -Dmaven.test.failure.ignore=true -fae -e -Dhttp.keepAlive=false -Dmaven.wagon.http.pool=false -Dmaven.wagon.httpconnectionManager.ttlSeconds=120"
  echo "${{ env.BUILD_MVN_OPTS }}"

default:
  build-command:
    upstream: mvn -e clean install -DskipTests -Dquickly ${{ env.BUILD_MVN_OPTS }}
    after:
      current: |
        docker system prune -f

build:
  - project: kiegroup/kogito-runtimes
    build-command:
      current: |
        mvn -f kogito-runtimes/pom.xml clean install ${{ env.BUILD_MVN_OPTS }}
        mvn -f kogito-runtimes-integration-tests/pom.xml clean verify -Ppersistence ${{ env.BUILD_MVN_OPTS }}
    clone:
      - kogito-runtimes
      - kogito-runtimes-integration-tests

  - project: kiegroup/optaplanner
    build-command: 
      current: mvn -f optaplanner/pom.xml -nsu clean install -Dfull ${{ env.BUILD_MVN_OPTS }}
    clone:
      - optaplanner

  - project: kiegroup/kogito-apps
    build-command: 
      current: |
        mvn -f kogito-apps/pom.xml clean install ${{ env.BUILD_MVN_OPTS }}
    clone:
      - kogito-apps

  - project: kiegroup/kogito-examples
    build-command: 
      current: |
        mvn -f kogito-examples/pom.xml clean install ${{ env.BUILD_MVN_OPTS }}
        mvn -f kogito-examples-persistence/pom.xml clean install -Ppersistence ${{ env.BUILD_MVN_OPTS }}
        mvn -f kogito-examples-events/pom.xml clean install -Pevents ${{ env.BUILD_MVN_OPTS }}
    clone:
      - kogito-examples
      - kogito-examples-persistence
      - kogito-examples-events
