version: "2.0"

dependencies: ./project-dependencies.yaml

default:
  build-command:
    upstream: mvn -e clean install -DskipTests -Dquickly ${{ env.BUILD_MVN_OPTS }}
    after:
      current: |
        docker system prune -f

build:
  - project: kiegroup/kogito-runtimes
    build-command:  
      upstream: mvn -e clean install -DskipTests -Dquickly ${{ env.BUILD_MVN_OPTS }}
      current: |
        mvn -f kogito-runtimes/pom.xml clean install ${{ env.BUILD_MVN_OPTS }}
        mvn -f kogito-runtimes-integration-tests/pom.xml clean verify -Ppersistence ${{ env.BUILD_MVN_OPTS }}
    clone:
      - kogito-runtimes
      - kogito-runtimes-integration-tests

  - project: kiegroup/optaplanner
    build-command: 
      upstream: mvn -e clean install -DskipTests -Dquickly ${{ env.BUILD_MVN_OPTS }}
      current: mvn -f optaplanner/pom.xml -nsu clean install -Dfull ${{ env.BUILD_MVN_OPTS }}
    clone:
      - optaplanner

  - project: kiegroup/kogito-apps
    build-command: 
      upstream: mvn -e clean install -DskipTests -Dquickly ${{ env.BUILD_MVN_OPTS }}
      current: |
        mvn -f kogito-apps/pom.xml clean install ${{ env.BUILD_MVN_OPTS }}
    clone:
      - kogito-apps

  - project: kiegroup/kogito-examples
    build-command: 
      upstream: mvn -e clean install -DskipTests -Dquickly ${{ env.BUILD_MVN_OPTS }}
      current: |
        mvn -f kogito-examples/pom.xml clean install ${{ env.BUILD_MVN_OPTS }}
        mvn -f kogito-examples-persistence/pom.xml clean install -Ppersistence ${{ env.BUILD_MVN_OPTS }}
        mvn -f kogito-examples-events/pom.xml clean install -Pevents ${{ env.BUILD_MVN_OPTS }}
    clone:
      - kogito-examples
      - kogito-examples-persistence
      - kogito-examples-events
