version: "2.1"

dependencies: ./project-dependencies-quarkus.yaml

pre: |
  export BUILD_MVN_OPTS="${{ env.BUILD_MVN_OPTS }} -nsu -ntp -fae -e -Dhttp.keepAlive=false -Dmaven.wagon.http.pool=false dependency:tree -Dmaven.wagon.httpconnectionManager.ttlSeconds=120 -Dmaven.wagon.http.retryHandler.count=3"
  echo "BUILD_MVN_OPTS=${{ env.BUILD_MVN_OPTS }}"
  export BUILD_MVN_OPTS_CURRENT="${{ env.BUILD_MVN_OPTS_CURRENT }} -Dversion.io.quarkus=999-SNAPSHOT"
  echo "BUILD_MVN_OPTS_CURRENT=${{ env.BUILD_MVN_OPTS_CURRENT }}"

default:
  build-command:
    current: mvn clean install ${{ env.BUILD_MVN_OPTS }} ${{ env.BUILD_MVN_OPTS_CURRENT }}
    upstream: mvn clean install -Dquickly ${{ env.BUILD_MVN_OPTS }} ${{ env.BUILD_MVN_OPTS_UPSTREAM }}
    after:
      current: |
        docker system prune -f

build:
  - project: kiegroup/kogito-runtimes
    build-command:
      # `-Dquarkus.bootstrap.effective-model-builder` is a temporary fix due to quarkus resolver on tests
      # https://github.com/quarkusio/quarkus/issues/23205
      current: |
        mvn -f kogito-runtimes/pom.xml clean install -Dversion.io.quarkus.quarkus-test-maven=999-SNAPSHOT -Dquarkus.bootstrap.effective-model-builder ${{ env.BUILD_MVN_OPTS }} ${{ env.BUILD_MVN_OPTS_CURRENT }} ${{ env.KOGITO_RUNTIMES_BUILD_MVN_OPTS }}
      upstream: mvn clean install -Dquickly -Dversion.io.quarkus.quarkus-test-maven=999-SNAPSHOT ${{ env.BUILD_MVN_OPTS }} ${{ env.BUILD_MVN_OPTS_UPSTREAM }} ${{ env.KOGITO_RUNTIMES_BUILD_MVN_OPTS_UPSTREAM }}
    clone:
      - kogito-runtimes

  - project: kiegroup/optaplanner
    build-command: 
      current: mvn -f optaplanner/pom.xml clean install -Dfull ${{ env.BUILD_MVN_OPTS }} ${{ env.BUILD_MVN_OPTS_CURRENT }} ${{ env.OPTAPLANNER_BUILD_MVN_OPTS }}
      upstream: mvn clean install -Dquickly ${{ env.BUILD_MVN_OPTS }} ${{ env.BUILD_MVN_OPTS_UPSTREAM }} ${{ env.OPTAPLANNER_BUILD_MVN_OPTS_UPSTREAM }}
    clone:
      - optaplanner

  - project: kiegroup/kogito-apps
    build-command: 
      current: |
        mvn -f kogito-apps/pom.xml clean install ${{ env.BUILD_MVN_OPTS }} ${{ env.BUILD_MVN_OPTS_CURRENT }} ${{ env.KOGITO_APPS_BUILD_MVN_OPTS }}
      upstream: mvn clean install -Dquickly ${{ env.BUILD_MVN_OPTS }} ${{ env.BUILD_MVN_OPTS_UPSTREAM }} ${{ env.KOGITO_APPS_BUILD_MVN_OPTS_UPSTREAM }}
    clone:
      - kogito-apps

  - project: kiegroup/kogito-examples
    build-command: 
      current: |
        mvn -f kogito-examples/pom.xml clean install -Dquarkus.platform.version=999-SNAPSHOT ${{ env.BUILD_MVN_OPTS }} ${{ env.BUILD_MVN_OPTS_CURRENT }} ${{ env.KOGITO_EXAMPLES_BUILD_MVN_OPTS }}
        mvn -f kogito-examples-persistence/pom.xml clean install -Ppersistence -Dquarkus.platform.version=999-SNAPSHOT ${{ env.BUILD_MVN_OPTS }} ${{ env.BUILD_MVN_OPTS_CURRENT }} ${{ env.KOGITO_EXAMPLES_BUILD_MVN_OPTS }}
        mvn -f kogito-examples-events/pom.xml clean install -Pevents -Dquarkus.platform.version=999-SNAPSHOT ${{ env.BUILD_MVN_OPTS }} ${{ env.BUILD_MVN_OPTS_CURRENT }} ${{ env.KOGITO_EXAMPLES_BUILD_MVN_OPTS }}
      upstream: mvn clean install -Dquickly -Dquarkus.platform.version=999-SNAPSHOT ${{ env.BUILD_MVN_OPTS }} ${{ env.BUILD_MVN_OPTS_UPSTREAM }} ${{ env.KOGITO_EXAMPLES_BUILD_MVN_OPTS_UPSTREAM }}
    clone:
      - kogito-examples
      - kogito-examples-persistence
      - kogito-examples-events
  
  - project: kiegroup/optaweb-employee-rostering
    build-command: 
      current: mvn clean install -f optaweb-employee-rostering/pom.xml ${{ env.BUILD_MVN_OPTS }} ${{ env.BUILD_MVN_OPTS_CURRENT }} ${{ env.OPTAWEB_EMPLOYEE_ROSTERING_BUILD_MVN_OPTS }}
      upstream: mvn clean install -Dquickly ${{ env.BUILD_MVN_OPTS }} ${{ env.BUILD_MVN_OPTS_UPSTREAM }} ${{ env.OPTAWEB_EMPLOYEE_ROSTERING_BUILD_MVN_OPTS_UPSTREAM }}
    clone:
      - optaweb-employee-rostering

  - project: kiegroup/optaweb-vehicle-routing
    build-command: 
      current: mvn clean install -f optaweb-vehicle-routing/pom.xml ${{ env.BUILD_MVN_OPTS }} ${{ env.BUILD_MVN_OPTS_CURRENT }} ${{ env.OPTAWEB_VEHICLE_ROUTING_BUILD_MVN_OPTS }}
      upstream: mvn clean install -Dquickly ${{ env.BUILD_MVN_OPTS }} ${{ env.BUILD_MVN_OPTS_UPSTREAM }} ${{ env.OPTAWEB_VEHICLE_ROUTING_BUILD_MVN_OPTS_UPSTREAM }}
    clone:
      - optaweb-vehicle-routing

  - project: kiegroup/optaplanner-quickstarts
    build-command: 
      current: mvn clean install -f optaplanner-quickstarts/pom.xml -Dfull ${{ env.BUILD_MVN_OPTS }} ${{ env.BUILD_MVN_OPTS_CURRENT }} ${{ env.OPTAPLANNER_QUICKSTARTS_BUILD_MVN_OPTS }}
      upstream: mvn clean install -Dquickly ${{ env.BUILD_MVN_OPTS }} ${{ env.BUILD_MVN_OPTS_UPSTREAM }} ${{ env..OPTAPLANNER_QUICKSTARTS_BUILD_MVN_OPTS_UPSTREAM }}
    clone:
      - optaplanner-quickstarts

  - project: quarkusio/quarkus
    build-command:
      upstream: mvn clean install -fae -Dquickly ${{ env.BUILD_MVN_OPTS }}
